# Avocado Prices Analysis

Explore and visualize the Avocado Prices and Sales Volume dataset (2015â€“2023).

In [1]:
import kagglehub
import pandas as pd
import zipfile
import os
import tempfile
import shutil

# 1. Download latest version of the dataset
zip_or_dir = kagglehub.dataset_download("ksamiksha19/vegetable-prices")
print("Downloaded to:", zip_or_dir)

# 2. Prepare a temp directory for extraction or reading
workdir = tempfile.mkdtemp(prefix="veg_prices_")

try:
    # 3. If it's a ZIP, extract; otherwise assume it's a directory
    if zipfile.is_zipfile(zip_or_dir):
        with zipfile.ZipFile(zip_or_dir, "r") as z:
            z.extractall(workdir)
    else:
        # copy all files into workdir
        for fname in os.listdir(zip_or_dir):
            shutil.copy(os.path.join(zip_or_dir, fname), workdir)

    # 4. Find all CSV files in workdir
    csv_files = [
        os.path.join(workdir, f)
        for f in os.listdir(workdir)
        if f.lower().endswith(".csv")
    ]
    if not csv_files:
        raise FileNotFoundError("No CSV files found in the dataset.")

    # 5. Read and concatenate into one DataFrame
    dfs = [pd.read_csv(f) for f in csv_files]
    df = pd.concat(dfs, ignore_index=True)
    print(f"Loaded {len(dfs)} file(s) into a single DataFrame with shape {df.shape}.")

    # 6. (Optional) quick preview
    print(df.head())

finally:
    # clean up temp folder
    shutil.rmtree(workdir)

Downloaded to: /Users/thabangmathebula/.cache/kagglehub/datasets/ksamiksha19/vegetable-prices/versions/3
Loaded 1 file(s) into a single DataFrame with shape (287, 11).
  Price Dates  Bhindi (Ladies finger)  Tomato  Onion  Potato  Brinjal  Garlic  \
0  01-01-2023                    35.0      18   22.0      20       30      50
1  02-01-2023                    35.0      16   22.0      20       30      55
2  03-01-2023                    35.0      16   21.0      20       30      55
3  04-01-2023                    30.0      16   21.0      22       25      55
4  08-01-2023                    35.0      16   20.0      21       25      55

   Peas  Methi  Green Chilli  Elephant Yam (Suran)
0    25      8          45.0                    25
1    25      7          40.0                    25
2    25      7          40.0                    25
3    25      7          40.0                    25
4    22      6          35.0                    25

## Preliminary Data Inspection

In [2]:
# Show structure and types
df.info()

# Describe numeric columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Price Dates             287 non-null    object
 1   Bhindi (Ladies finger)  287 non-null    float64
 2   Tomato                  287 non-null    int64
 3   Onion                   287 non-null    float64
 4   Potato                  287 non-null    int64
 5   Brinjal                 287 non-null    int64
 6   Garlic                  287 non-null    int64
 7   Peas                    287 non-null    int64
 8   Methi                   287 non-null    int64
 9   Green Chilli            287 non-null    float64
 10  Elephant Yam (Suran)    287 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 24.8+ KB

,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
count,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000
mean,29.444251,16.006969,20.649826,18.585366,31.655052,133.101045,66.658537,20.383275,44.122404,28.797909
std,8.124815,0.118056,11.711204,2.726238,11.725421,60.078331,33.302415,117.428417,12.796590,6.607973
min,17.000000,16.000000,8.000000,12.000000,14.000000,50.000000,22.000000,5.000000,0.130000,12.000000
25%,22.000000,16.000000,12.000000,16.000000,25.000000,85.000000,40.000000,8.000000,35.000000,25.000000
50%,27.500000,16.000000,16.000000,20.000000,30.000000,120.000000,60.000000,12.000000,40.000000,30.000000
75%,33.000000,16.000000,25.000000,20.000000,35.000000,165.000000,80.000000,16.000000,50.000000,30.000000
max,60.000000,18.000000,57.000000,24.000000,80.000000,290.000000,150.000000,2000.000000,90.000000,50.000000